:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--red: hsl(0, 100%, 74%); 
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--darkBlue: hsl(249, 10%, 26%);
	--grayisBlue: hsl(246, 25%, 77%);
	--shadow: hsla(0, 0%, 1%, 0.212);
}
